// CONTAINER

.img-grid {
  height: 355px;
}

@media screen and (min-width: 960px) {
  .img-grid {
    height: 440px;
  }
}

// IMAGES

.main {
  div {
    background-color: black;
    border: 2px solid dimgrey;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;

    img {
      width: 100%;
      object-fit: cover;
      transition: .45s;
    }

    img:hover {
      transform: scale(1.08);
      opacity: 1 !important;
    }
  }

  div:hover {
    img {
      opacity: 0.75;
    }
  }
}

// BUTTONS

@mixin position-btn() {
  z-index: 3;
  position: absolute;
}

@mixin clear-btn() {
  background-color: none !important;
  color: white !important;
}

.share-btn {
  @include position-btn();
  top: 25px;
  right: 125px;
}

.save-btn {
  @include position-btn();
  top: 25px;
  right: 25px;
}

.share-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: 25px;
  right: 70px;
}

.save-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: 25px;
  right: 25px;
}

.view-photo-btn {
  @include position-btn();
  top: 290px;
  right: 30px;
}

@media screen and (min-width: 960px) {
  .view-photo-btn {
    top: 375px;
  }
}


