// PHOTO GRID IMAGES

.photogrid {
  div {
    background-color: black;
    border: 2px solid dimgray;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    height: 100%;

    img {
      min-height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.45s ease 0s;
    }

    img:hover {
      transform: scale(1.08);
      opacity: 1 !important;
    }
  }
}

.photogrid:hover {
  img {
    opacity: 0.68;
  }
}

// PHOTO GRID BUTTONS

@mixin position-btn() {
  z-index: 3;
  position: absolute;
}

@mixin clear-btn() {
  background-color: none !important;
  color: white !important;
}

$btn-margin: 25px;

.share-btn {
  @include position-btn();
  top: $btn-margin;
  right: 140px;
}

.save-btn {
  @include position-btn();
  top: $btn-margin;
  right: 25px;
}

.share-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: $btn-margin;
  right: 70px;
}

.save-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: $btn-margin;
  right: $btn-margin;
}

.view-photo-btn {
  @include position-btn();
  right: $btn-margin;
}

// MODAL

.modal-content {
  border-radius: 0;
}

// Share and Save modals
#share-modal, #save-modal {

  .modal-content {
    padding: 25px;
  }

  .modal-header {
    display: block;
    padding: 0px 0px 20px 0px;
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }

  .close {
    position: static;
    float: none;
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-size: 2rem;
    font-weight: 200;
    outline: none;
  }

  .modal-body {
    padding: 0;
    p {
      margin: 0;
    }
    i {
      color: dimgray;
    }
    .btn-link {
      color: darkcyan; 
    }
    a {
      font-size: 1.2rem;
      color: inherit;
    }
  }

  .border-bottom {
    padding: 20px 0px;
  }
}

// Save modal {
#save-modal {
  .facebook {
    background-color: #4361b7;
    i {
      color: white !important;
    }
  }
  
  .google {
    border: 2px solid dimgray;
    color: black;
    margin-bottom: 20px;
  }

  .google:hover {
    background-color: white;
  }

  .or-wrapper {
    display: flex;
    padding-bottom: 20px;
    div {
      padding: 0;
    }
    .row {
      height: 50%;
      margin: 0 !important;
      padding: 0 !important;
    }
    .or {
      margin: auto;
      padding: 0;
      text-align: center;
    }
  }
  .email-signup {
    border: none;
    margin-bottom: 10px;
    background-color: rgb(255, 90, 95);
    i {
      color: white !important;
    }
  }
  p {
    text-align: center;
  }
  strong {
    color: darkcyan;
  }
  .modal-footer {
    border: none;
  }
}

// Slideshow modal
.slideshow-modal {
  .modal-full {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
  }

  .close {
    color: white;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: none;
    outline: none;
    margin-right: 10px;
  }

  .modal-content {
    background-color: #262626;
    height: auto;
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
  }
  
  .modal-dialog {
    margin: 0;
  }

  .modal-header {
    height: 87px;
    padding: 0;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    border: none;
  }

  // Slideshow carousel
  @mixin masking-div() {
    max-width: 90vh;
    margin: auto;
    overflow: hidden;
  }

  .carousel-inner {
    min-height: 100%;
  }

  .image-arrow-wrapper {
    @include masking-div();
  }

  @media screen and (max-width: 576px) {
    .image-arrow-wrapper {
      width: 100vw;
    }
  }
  
  .carousel-item {
    img {
      object-fit: fill;
      margin: 0 auto;
      width: 100%;
    }
  }

  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    padding-bottom: 0px;
    text-align: left;
    p {
      font-size: 0.75em;
      margin-bottom: 0px;
    }
  }

  .carousel-control-prev {
    position: absolute;
    left: 15px;
  }
    
  .carousel-control-next {
    position: absolute;
    right: 15px;
  }

  @media screen and (min-width: 576px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
      height: 50px;
      width: 50px;
    }
  }

  .caption-filmstrip-wrapper {
    @include masking-div();
    height: 120px; 
    .img-caption {
      width: 80%;
      height: 2em;
      font-size: 0.75em;
      margin-top: auto;
      margin-bottom: 0px;
      color: white;
      display: inline-block;
    }
    .hide-filmstrip-btn {
      width: 20%;
      height: 2em;
      font-size: 0.75em;
      margin: auto;
      color: white;
      display: inline-block;
      text-align: right;
      cursor: pointer;
    }
  }

  .caption-hide-wrapper {
    width: 100%;
    bottom: 80px;
    transition: margin 0.25s linear;
    position: initial !important;
  }

  .caption-hide-hidden {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  .hide-filmstrip-wrapper {
    position: absolute;
    bottom: 0;
  }

  .filmstrip {
    @include masking-div();
    height: 87px;
    margin: auto 0px 0px 0px;
    -webkit-transition: height 0.25s linear;
       -moz-transition: height 0.25s linear;
        -ms-transition: height 0.25s linear;
         -o-transition: height 0.25s linear;
            transition: height 0.25s linear;
    .invisible-caption {
      display: none !important;
    }
  }

  @media screen and (max-width: 576px) {
    .filmstrip {
      width: 100vw !important;
    }
  }

  .hidden-filmstrip {
    height: 0px;
    -webkit-transition: height 0.25s linear;
       -moz-transition: height 0.25s linear;
        -ms-transition: height 0.25s linear;
         -o-transition: height 0.25s linear;
            transition: height 0.25s linear;
  }

  .carousel-indicators {
    position: static;
    text-align: left;
    white-space: nowrap;
    display: block;
    margin: 0;

    li {
      background-color: #262626;
      display: inline-block;
      height: auto;
      margin: 0 !important;
      width: auto;

      img {
        margin: 10px;
        display: block;
        width: 100px;
        height: 67px;
      }

      .active {
        img {
          opacity: 1 !important;
        }
      }
    }
  }
}