// PHOTO GRID IMAGES

.main {
  div {
    background-color: black;
    border: 2px solid dimgrey;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;

    img {
      min-height: 100% !important;
      width: 100%;
      object-fit: cover;
      transition: all 0.45s ease 0s;
    }

    img:hover {
      transform: scale(1.08);
      opacity: 1 !important;
    }
  }
}

.main:hover {
  img {
    opacity: 0.68;
  }
}

// PHOTO GRID BUTTONS

@mixin position-btn() {
  z-index: 3;
  position: absolute;
}

@mixin clear-btn() {
  background-color: none !important;
  color: white !important;
}

.share-btn {
  @include position-btn();
  top: 25px;
  right: 125px;
}

.save-btn {
  @include position-btn();
  top: 25px;
  right: 25px;
}

.share-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: 25px;
  right: 70px;
}

.save-btn-xs {
  @include position-btn();
  @include clear-btn();
  top: 25px;
  right: 25px;
}

.view-photo-btn {
  @include position-btn();
}

// MODAL

// Slideshow modal
.slideshow-modal {
  .modal-full {
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    margin: 0;
    height: 100%;
  }

  .modal-content {
    background-color: #262626;
    height: auto;
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
  }
  
  .modal-dialog {
    margin: 0;
  }

  .modal-header {
    height: 87px;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    border: none;
  }

  .carousel-inner {
    min-height: 100%;
  }

  .carousel-item {
    img {
      min-height: 100% !important;
      width: auto;
      object-fit: fill;
      margin: 0 auto;
    }
  }

  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
  }

  .display-photo {
    display: flexbox;
    margin: auto;
  }

  .carousel-indicators {
    margin: 10px auto;
    overflow: hidden;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 80vw;

    li {
      background-color: #262626;
      display: inline-block;
      height: auto;
      margin: 0 !important;
      width: auto;

      img {
        margin: 10px;
        display: block;
        width: 100px;
        height: 67px;
      }

      .active {
        img {
          opacity: 1 !important;
        }
      }

    }

  }



}